awswrangler==3.4.1
boto3==1.28.82
botocore==1.31.82
certifi==2023.7.22
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.4
imageio==2.32.0
imageio-ffmpeg==0.4.9
jmespath==1.0.1
moviepy==1.0.3
numpy==1.26.1
packaging==23.2
pandas==2.1.2
Pillow==10.0.1
proglog==0.1.10
pyarrow==14.0.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
